.badge {
  @include font-size(x-small);
  @include font-weight(bold);
  display: inline-block;
  border-radius: 20px;
  padding: 0.4rem 1.5rem;
  text-align: center;
  text-transform: uppercase;

  &--active {
    background-color: rgba($color: color(green), $alpha: 0.3);
    color: darken($color: color(green), $amount: 20%);
  }

  &--upcoming {
    background-color: rgba($color: color(yellow), $alpha: 0.3);
    color: darken($color: color(yellow), $amount: 20%);
  }
}
