@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes color-transition {
  0% {
    color: color(grey);
  }
  33% {
    color: color(blue);
  }
  66% {
    color: color(dark);
  }
  100% {
    color: color(green);
  }
}
